.todo-item {
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    background-color: rgb(155, 247, 81);
    color:rgb(7, 56, 40);
    margin-bottom: 1rem;
    border-radius: 10px;
}